<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>
    <add name="BDGestionVehiculeContext" connectionString="metadata=res://*/GestionVehicule.csdl|res://*/GestionVehicule.ssdl|res://*/GestionVehicule.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D500-58023-00D\MSSQLSERVER1;initial catalog=GestionVehicule;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="WindowsFormsApp1.Properties.Settings.BDGestionVehiculeContext"
        connectionString="Data Source=D500-58023-00D\MSSQLSERVER1;Initial Catalog=GestionVehicule;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>